<div class="container-fluid">
  <div class="row">
    <div class="mini-height">
      <div class="col-md-3">
        <%= render 'shared/profilesidebar' %>
      </div>
      <div class="col-md-9">
        <div class="outer">
          <div class="inner">
            <h3><em>My Workshop</em></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="user-profile">
            <h4>Orders List</h4>
            <div class="col-md-6">
              <% @user.workshop.machines.each do |machine| %>
                <% machine.orders.each do |order| %>
                  <%= order.id %>
                  <%= order.state %>
                  <%= order.designer.name %>
                <% end %>
              <% end %>
            </div>
            <div class="col-md-6">

            </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>