#banner {
  background: image-url('laser_dark.jpg');
  background-size: cover;
  background-position: 0px -250px;
  height: 600px;
  margin-top: -22px;
  padding-top: 50px;
  color: white;
  h1 {
    font-size: 150px;
  }
  p {
    font-size: 30px;
  }
}