#banner {
  background: image-url('outils.jpg');
  color: white;
  // padding: px 0;
  background-size: cover;
  height: 600px;
  padding-left: 3%;
  h1 {
  font-size: 70px;
  }
  p {
  font-size: 25px;
  font-weight: 100;
  padding-left: 1.5%;
  }
}
