<div class="sidebar">
  <h2><%= link_to_unless_current "My Account", account_path %></h2>
  <h2><a href="#">My Orders</a></h2>
  <% if @user.workshop %>
    <h2><%= link_to_unless_current "My Workshop", account_workshop_path %></h2>
    <h2><%= link_to_unless_current "My Machines", account_machines_path %></h2>
  <% end %>
</div>
