/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.padded-left {
  padding-left: 2.5em;
}
.padded-right {
  padding-right: 2.5em;
}
.padded-small {
  padding-top: 1em;
  padding-bottom: 1em;
}
.margin-space {
  margin: 2em;
}
.card {
  width: 370px;
  border-radius: 5px;
}
.btn {
  margin: 0px 10px;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}
.bg-white {
  background: white;
  color: $gray-darker;
  padding: 0.5em;
}

