// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";
@import "orders";
@import "workshops";

@font-face {
  font-family: 'DKyellow';
  src:font-url('dk.otf');
  src:font-url('dk.svg#dk') format('svg'),
    font-url('dk.woff') format('woff'),
    font-url('dk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}