// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";
@import "orders";
@import "workshops";

@font-face {
    font-family: 'dk_lemon_yellow_sunregular';
    src: url('dk.eot');
    src: url('dk.eot?#iefix') format('embedded-opentype'),
         url('dk.woff2') format('woff2'),
         url('dk.woff') format('woff'),
         url('dk.ttf') format('truetype'),
         url('dk.svg#dk_lemon_yellow_sunregular') format('svg');
    font-weight: normal;
    font-style: normal;

}