// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-list-card {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 90%;
  border-radius: 2px;
  margin: 50px 5%;
  background-color: $porcelain;
  display: flex;
}

.order-info {
  // display: inline-block;
  padding-left: 30px;
}

.order-icon {
  // display: inline-block;
  margin-top: 10px;
}

.outer > div > h3 {
  margin-left: 128px;
}