<div class="container">
  <div class="row">
    <% if @workshops.size == 0 %>
      <p>Sorry, no machines yet in that city!</p>
    <% else %>
      <% @workshops.each do |workshop| %>
        <% if workshop.machines.count > 0 %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="text-center">
            <p><%= workshop.maker.name %></p>
            <p><%= workshop.machines.map(&:name).join("") %></p>
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div id="map" style="width: 100%; height: 600px;">
      </div>
    </div>
  </div>
</div>