<div class="control-group nested-fields">
  <div class="form-group">
    <%= f.select :material_id, @materials %>
    <%= f.input :colors %>
    <%= link_to_remove_association "remove", f %>
  </div>
</div>