<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="text-center light-padded">
      <h2>Liste de vos machines</h2>
    </div>

    <% @machines.each do |machine| %>
      <%= machine.brand %>
      <%= machine.category %>
      <%= machine.
      <br>
      <br>
    <% end %>
</div>
